<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CadastrarNutricionista</servlet-name>
        <servlet-class>br.com.projetoestagio.controller.CadastrarNutricionista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarCardapio</servlet-name>
        <servlet-class>br.com.projetoestagio.controller.CadastrarCardapio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DadosCardapio</servlet-name>
        <servlet-class>br.com.projetoestagio.controller.DadosCardapio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarAlimento</servlet-name>
        <servlet-class>br.com.projetoestagio.controller.CadastrarAlimento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarAlimento</servlet-name>
        <servlet-class>br.com.projetoestagio.controller.ListarAlimento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarAlimento</servlet-name>
        <servlet-class>br.com.projetoestagio.controller.AlterarAlimento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarregarAlimento</servlet-name>
        <servlet-class>br.com.projetoestagio.controller.CarregarAlimento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarRefeicao</servlet-name>
        <servlet-class>br.com.projetoestagio.controller.ListarRefeicao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarRefeicao</servlet-name>
        <servlet-class>br.com.projetoestagio.controller.AlterarRefeicao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarTipoRefeicao</servlet-name>
        <servlet-class>br.com.projetoestagio.controller.CadastrarTipoRefeicao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarTipoRefeicao</servlet-name>
        <servlet-class>br.com.projetoestagio.controller.ListarTipoRefeicao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarCardapio</servlet-name>
        <servlet-class>br.com.projetoestagio.controller.ListarCardapio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarregarCardapio</servlet-name>
        <servlet-class>br.com.projetoestagio.controller.CarregarCardapio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DadosRefeicao</servlet-name>
        <servlet-class>br.com.projetoestagio.controller.DadosRefeicao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarregarRefeicao</servlet-name>
        <servlet-class>br.com.projetoestagio.controller.CarregarRefeicao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarCardapio</servlet-name>
        <servlet-class>br.com.projetoestagio.controller.AlterarCardapio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InativarAlimento</servlet-name>
        <servlet-class>br.com.projetoestagio.controller.InativarAlimento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarAlimentoRefeicao</servlet-name>
        <servlet-class>br.com.projetoestagio.controller.CadastrarAlimentoRefeicao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarEvolucaoPorPaciente</servlet-name>
        <servlet-class>br.com.projetoestagio.controller.ListarEvolucaoPorPaciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarCardapioPaciente</servlet-name>
        <servlet-class>br.com.projetoestagio.controller.ListarCardapioPaciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarEvolucaoPaciente</servlet-name>
        <servlet-class>br.com.projetoestagio.controller.ListarEvolucaoPaciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirEvolucaoPaciente</servlet-name>
        <servlet-class>br.com.projetoestagio.controller.ExcluirEvolucaoPaciente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioConsulta</servlet-name>
        <servlet-class>br.com.projetoestagio.controller.RelatorioConsulta</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastrarNutricionista</servlet-name>
        <url-pattern>/CadastrarNutricionista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarCardapio</servlet-name>
        <url-pattern>/CadastrarCardapio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DadosCardapio</servlet-name>
        <url-pattern>/DadosCardapio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarAlimento</servlet-name>
        <url-pattern>/CadastrarAlimento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarAlimento</servlet-name>
        <url-pattern>/ListarAlimento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarAlimento</servlet-name>
        <url-pattern>/AlterarAlimento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarregarAlimento</servlet-name>
        <url-pattern>/CarregarAlimento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarRefeicao</servlet-name>
        <url-pattern>/ListarRefeicao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarRefeicao</servlet-name>
        <url-pattern>/AlterarRefeicao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarTipoRefeicao</servlet-name>
        <url-pattern>/CadastrarTipoRefeicao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarTipoRefeicao</servlet-name>
        <url-pattern>/ListarTipoRefeicao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarCardapio</servlet-name>
        <url-pattern>/ListarCardapio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarregarCardapio</servlet-name>
        <url-pattern>/CarregarCardapio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DadosRefeicao</servlet-name>
        <url-pattern>/DadosRefeicao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarregarRefeicao</servlet-name>
        <url-pattern>/CarregarRefeicao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarCardapio</servlet-name>
        <url-pattern>/AlterarCardapio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InativarAlimento</servlet-name>
        <url-pattern>/InativarAlimento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarAlimentoRefeicao</servlet-name>
        <url-pattern>/CadastrarAlimentoRefeicao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarEvolucaoPorPaciente</servlet-name>
        <url-pattern>/ListarEvolucaoPorPaciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarCardapioPaciente</servlet-name>
        <url-pattern>/ListarCardapioPaciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarEvolucaoPaciente</servlet-name>
        <url-pattern>/ListarEvolucaoPaciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirEvolucaoPaciente</servlet-name>
        <url-pattern>/ExcluirEvolucaoPaciente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioConsulta</servlet-name>
        <url-pattern>/RelatorioConsulta</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
